.Seleccion{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    h4{
        margin-bottom: 10px;
        color: var(--bright-navy-blue);
        b{
            color: var(--bleu-de-france);
            font-weight: bolder;
        }
    }
}

.row{
    width: 100%;
    margin: auto;
}
.product-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 5px;
    .card{
        width: 90%;
        max-width: 529px;
        margin: auto;
    }
    .bottomProduct{
        width: 90%;
        max-width: 529px;
        margin: 5px auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .btn{
            width:30%;
        }
        p{
            width: 30%;
            margin-right: 10px;
            color: green;
            margin: auto;
            font-weight: 700;
        }
    }
}

.formIngredients{
    display: flex;
    flex-direction: column;
    input[type=checkbox]{
        display:none;
    }
    label{
        cursor: pointer;
        transition: 0.5s;
    
    }
    label:before{
        content:'';
        background: transparent;
        border: 2px solid var(--color-primary);
        border-radius: 50%;
        display: inline-block;
        margin-right: 3px;
        height: 10px;
        text-align: center;
        vertical-align: middle;
        width: 10px;
    }
    input[type=checkbox]:checked + label:before{
        background-color: #9a0e0e;
        border: 2px solid white;
    }
    input[type=checkbox]:checked + label{
        color: white;
        padding-right: 35px;
        transition: 0.5s;
        border-top-right-radius: 20% 50%;
        border-bottom-right-radius: 20% 50%;
        background-color: #9a0e0e;
    }
    
}