<div class="row" *ngIf="products$ | async as products">
    <div class="col-xs-12 col-sm-6 col-md-4 product-container" *ngFor="let product of products">
        <div class="card">
            <div class="image">
                <a (click)="openSM(product.id)">
                    <img [src]="product.Image" [alt]="product.Name"
                    class="card-img-top">
                </a>
            </div>
            <div class="card-inner" (click)="openSM(product.id)">
                <div class="header">
                    <a (click)="openSM(product.id)"><h2>{{product.Name}}</h2> </a>
                    <small class="text-muted">{{product.Short_Description}}</small>
                </div>
            </div>
        </div>
        <div class="bottomProduct" >
            <p>{{"$"+product.Value}}</p>
            <button class="btn btn-success" (click)="openSM(product.id)">Agregar a la orden</button>
        </div>
    </div>
</div>
