:root{
    --color-primary:rgb(46, 134, 227);
}

.container {
    margin-top: 4rem;
}

.card{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    margin: 10px 0 ;
    align-items: center;
    background-color: rgb(255, 255, 255);
    max-width: 529px;
    transition: all 0.2s ease-in-out;
    &:hover{
        box-shadow: 0 5px 5px 0 rgba(255, 0, 0, 0.27), 0 6px 6px 0 rgba(255, 0, 0, 0.4);
        cursor: pointer;
    }
    img{
        opacity: 1;
        width: 100%;
    }
    .card-inner {
        padding:10px;
    }
    .header{
        display: flex;
        justify-content: center;   
        align-items: center; 
        flex-direction: column;
    }

    h2{
        font-weight: bold;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

.product-container {
    display: flex;
    justify-content: flex;
    align-items: flex-end;
    flex-direction: column;
}

.category-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
