.Description{
    height: 200px;
}
.Short_Description{
    height: 100px;
}

.container{
    max-width: 600px;
    h1{
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        color:var(--color-primary);
    }
    div{
        margin-bottom: 5px;
    }
}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px 20px 0 0;
}

.btn-circle{
    background-color: var(--color-primary);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-width: 2px;
    border-color: var(black);
    font-size: 30px;
    color:white;
    text-align: center;
    justify-content: center;
}

a.disabled {
    pointer-events: none;
    cursor: default;
 }

 .div-category{
    display: flex;
    flex-direction: row;
    select{
        width: 100%;
        border-radius: 5px;
    }
    label{
        font-size: 1.2rem;
        color: white;
        padding: 5px;
        background-color: var(--color-primary);
        border-radius: 5px;
    }
 }

 .tagcontainer{
    display: flex;
    flex-direction: column;
    ng-select.custom{
        width: 100%;
        border-radius: 5px;

    }
    label{
        text-align: center;
        font-size: 1.2rem;
        color: white;
        padding: 5px;
        background-color: var(--color-primary);
        border-radius: 5px;
    }
 }

 .ng-select.custom ::ng-deep .ng-select-container  {            
    min-height: 0px;
    border-radius: 5px;
    width: 100%;
    .ng-value-container{
        .ng-value{
            background-color: var(--queen-blue);
            color: white;
            border-radius: 10%;

        }
    }
}
