.cartContainer{
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    background-color: #fefbf9;
    small {
        margin: 0;
        color:green;
        font-weight: 700;
    }
}

.hidden {  
    transition: 1s;
    opacity: 0;  
}