:root{
    --color-primary:#006EA3;
    --davys-grey: #494947ff;
    --queen-blue: #3c6895ff;
    --bright-navy-blue: #3577bcff;
    --bleu-de-france: #2e86e3ff;
    --bleu-de-france-2: #408ae5ff;
    --united-nations-blue: #498ce6ff;
    --united-nations-blue-2: #4d8de7ff;
    --color-rojo-triada: #143A63;
}

.container {
    margin-top: 4rem;
}

.card{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    margin: 10px 0 ;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    max-width: 529px;
    transition: all 0.2s ease-in-out;
    img{
        opacity: 1;
        width: 100%;
    }
    .card-inner {
        width: 100%;
        padding:10px;
        .header{
            display: flex;
            justify-content: center;   
            align-items: center; 
            flex-direction: column;
            text-align: justify;
            white-space: initial;
            small{
                width: 100%;
            }
            .title{
                font-size: 1.5rem;
                font-weight: bold;
                color: rgb(46, 134, 227);
                margin-bottom: 10px;
            }
        }
    }
    

    h2{
        font-weight: bold;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

.product-container {
    display: flex;
    justify-content: flex;
    align-items: flex-end;
    flex-direction: column;
}

.category-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
html{
    overflow-x: hidden !important;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~@ng-select/ng-select/themes/default.theme.css";

$fa-font-path: "~node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';