
<div class="row" *ngIf="product$ | async as product">
    <div class="col-xs-12 col-sm-6 col-md-4 product-container">
        <div class="card">
            <div class="image">

                    <img [src]="product.Image" [alt]="product.Product_name"
                    class="card-img-top">
            </div>
            <div class="card-inner">
                <div class="header">
                <h2>{{product.Product_name}}</h2>
                    <small class="text-muted">{{product.Description}}</small>
                </div>
            </div>
        </div>
        <div class="bottomProduct" >
            <button class="btn btn-success">Añadir</button>
        </div>
    </div>
</div>