
<div class="row" *ngIf="product as product">
    <div class="product-container">
        <div class="card">
            <div class="image">
                    <img [src]="product?.Image" [alt]="product.Name"
                    class="card-img-top">
            </div>
            <div class="card-inner">
                <div class="header">
                <h2>{{product.Name}}</h2>
                    <small class="text-muted">{{product.Description}}</small>
                </div>
                <div class="Seleccion">
                    <h4>
                        Selecciona los ingredientes que <b>NO</b> quieres
                    </h4>
                    <form [formGroup]="form" class="formIngredients" (ngSubmit)="submitForm()">
                        <div class="ingContainer" *ngFor="let I of product.Ingredients; let i=index">
                            <input type="checkbox" [id]="i" [value]="I" (change)="onCheckboxChange($event)">
                            <label [for]="i">
                                {{I}}
                            </label>
                        </div>
                        
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        <div class="bottomProduct" >
            <button class="btn btn-danger" (click)="close()"> close </button>
            <button class="btn btn-success" (click)="add()">Añadir</button>
        </div>
    </div>
</div>